@if (shipment) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(shipment.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="shipmentDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmar operación de borrado</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-shipment-heading" jhiTranslate="cdexApp.shipment.delete.question" [translateValues]="{ id: shipment.id }">
        ¿Seguro que quiere eliminar Shipment {{ shipment.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button id="jhi-confirm-delete-shipment" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
      </button>
    </div>
  </form>
}
