<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-beneficiary-heading" data-cy="BeneficiaryCreateUpdateHeading" jhiTranslate="cdexApp.beneficiary.home.createOrEditLabel">
        Crear o editar Beneficiary
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="cdexApp.beneficiary.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_alias" jhiTranslate="cdexApp.beneficiary.alias">Alias</label>
          <input type="text" class="form-control" name="alias" id="field_alias" data-cy="alias" formControlName="alias" />
          @if (editForm.get('alias')!.invalid && (editForm.get('alias')!.dirty || editForm.get('alias')!.touched)) {
            <div>
              @if (editForm.get('alias')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phone" jhiTranslate="cdexApp.beneficiary.phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
          @if (editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)) {
            <div>
              @if (editForm.get('phone')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_city" jhiTranslate="cdexApp.beneficiary.city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
          @if (editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)) {
            <div>
              @if (editForm.get('city')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="cdexApp.beneficiary.address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_referenceAddress" jhiTranslate="cdexApp.beneficiary.referenceAddress"
            >Reference Address</label
          >
          <input
            type="text"
            class="form-control"
            name="referenceAddress"
            id="field_referenceAddress"
            data-cy="referenceAddress"
            formControlName="referenceAddress"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="cdexApp.beneficiary.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            @if (!editForm.get('user')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)) {
          <div>
            @if (editForm.get(['user'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
