<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (chat()) {
      <div>
        <h2 data-cy="chatDetailsHeading"><span jhiTranslate="cdexApp.chat.detail.title">Chat</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ chat()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="cdexApp.chat.message">Message</span></dt>
          <dd>
            <span>{{ chat()!.message }}</span>
          </dd>
          <dt><span jhiTranslate="cdexApp.chat.createdAt">Created At</span></dt>
          <dd>
            <span>{{ chat()!.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="cdexApp.chat.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'cdexApp.MessageStatus.' + (chat()!.status ?? 'null')">{{
              { null: '', SEND: 'SEND', READ: 'READ', DELETED: 'DELETED' }[chat()!.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="cdexApp.chat.from">From</span></dt>
          <dd>
            <span>{{ chat()!.from?.login }}</span>
          </dd>
          <dt><span jhiTranslate="cdexApp.chat.to">To</span></dt>
          <dd>
            <span>{{ chat()!.to?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/chat', chat()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
